<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
                function functionEn(){
                var rusLang = document.getElementsByClassName("rus_lang");
                var enLang = document.getElementsByClassName("en_lang");
                for (i = 0; i < enLang.length; i++) {
                  enLang[i].style.position = "static";
                  rusLang[i].style.position = "absolute";
                  rusLang[i].style.top = "-9999px";
                  rusLang[i].style.left = "-9999px";
                  document.getElementById("en_button").classList.add('active');
                  document.getElementById("ru_button").classList.remove('active')
                }
              }
                 function functionRu(){
                  var rusLang = document.getElementsByClassName("rus_lang");
                  var enLang = document.getElementsByClassName("en_lang");
                  for (i = 0; i < enLang.length; i++) {
                    rusLang[i].style.position = "static";
                    enLang[i].style.position = "absolute";
                    enLang[i].style.top = "-9999px";
                    enLang[i].style.left = "-9999px";
                    document.getElementById("ru_button").classList.add('active');
                    document.getElementById("en_button").classList.remove('active')
          }
      }


            </script>
    </head>
    <body>
        <div class='top'>
            <img src="{% static 'img/Vector.png' %}">
            <div class="text">
                <span>{{ game_name }}</span>
            </div>
        </div>
            <div class='lang'>
            <p><span id="ru_button" onclick="functionRu()" class="active">Ru </span><span id="en_button" onclick="functionEn()">En</span></p>
            </div>

            <img src="{{ image_link }}" class="game">
        <div class="description">
                <img src="{% static 'img/Vector123.png' %}" class='vector'>
                <h2 class="rus_lang">Описание:</h2>
                <h2 class="en_lang">Description:</h2>
                <div class="rus_lang">{{ description_ru|linebreaksbr }}</div>
                <div class="en_lang">{{ description_eng|linebreaksbr }}</div>

                <p><span class="rus_lang">Регион аккаунта: {{ region }}<br></span>
                <span class="en_lang"> Account region:  {{ region }}<br></span>
                <span class="rus_lang">Steam профиль:  <a href="{{ user_link }}" target="_blank">Ссылка</a><br></span>
                <span class="en_lang">Steam profile: <a href="{{ user_link }}" target="_blank">Link</a><br></span>
                <span class="rus_lang">Уникальный код товара: {{ code }}<br></span>
                <span class="en_lang">Unique product code: {{ code }}</span></p>
        
            <div class="main__status">
                <span>Заявка в друзья принята, отправляем ваш подарок</span>
            </div>
            
            <div class='contacts'>
                <div class='contacts_text'><span class="rus_lang">Контакты</span> <span class="en_lang">Contacts</span> </div>
                    <img src="{% static 'img/tg.png' %}" class='con_img1'>
                    <img src="{% static 'img/vk.png' %}">
                    <img src="{% static 'img/Subtract.png' %}">
                    <img src="{% static 'img/skype.png' %}">
                    <img src="{% static 'img/wp.png' %}">
            </div>
        </div>
    <script>

let data = {
	sell_code: "{{ code }}"
}

function sleep(time) {
	return new Promise((resolve) => setTimeout(resolve, time));
}

function getAccount() {
	$.ajax({
			method: "GET",
			dataType: "json",
			data: data,
			url: {% url "load_status" %},
			success: function(data) {
				console.log(data["data"]["status"]);
				status = data["data"]["status"];
				if (status !== null) {
					if (status == 'Accept Request') {
						$('.main__status').html(
							"<span class='rus_lang'><strong>{{ accept_request_ru }}</strong></span><span class='en_lang'><strong>{{ accept_request_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Gift Sent') {
						$('.main__status').html(
							"<span class='rus_lang'><strong>{{ gift_sent_ru }}</strong></span><span class='en_lang'><strong>{{ gift_sent_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Gift Received') {
						$('.main__status').html(
							"<span class='rus_lang'><strong>{{ gift_received_ru }}</strong></span><span class='en_lang'><strong>{{ gift_received_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Gift Rejected') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ gift_rejected_ru }}</strong></span><span class='en_lang'><strong>{{ gift_rejected_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Add Friend Error') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ add_friend_error_ru }}</strong></span><span class='en_lang'><strong>{{ add_friend_error_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Send Gift Error') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ send_gift_error_ru }}</strong></span><span class='en_lang'><strong>{{ send_gift_error_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Check Error') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ check_error_ru }}</strong></span><span class='en_lang'><strong>{{ check_error_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Sending Gift') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ sending_gift_ru }}</strong></span><span class='en_lang'><strong>{{ sending_gift_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
                    } else if (status == 'Add to Friends') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ add_to_friends_ru }}</strong></span><span class='en_lang'><strong>{{ add_to_friends_en }}</strong></span>"

						);

                        sleep(10000).then(() => {
							getAccount()
						});

					} else {
						sleep(10000).then(() => {
							getAccount()
						});
					}

				}
			}
	})}
	getAccount()

	</script>
    </body>
</html>
