<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Document</title>

</head>
<body>

    <section class="main container">
        <div class="language">
            <button onclick="functionRu()" class="language__item active" id="ru_button">RU</button>
            <button onclick="functionEn()" class="language__item" id="en_button">EN</button>
            <script>
                function functionEn(){
                var rusLang = document.getElementsByClassName("rus_lang");
                var enLang = document.getElementsByClassName("en_lang");
                for (i = 0; i < enLang.length; i++) {
                  enLang[i].style.position = "static";
                  rusLang[i].style.position = "absolute";
                  rusLang[i].style.top = "-9999px";
                  rusLang[i].style.left = "-9999px";
                  document.getElementById("en_button").classList.add('active');
                  document.getElementById("ru_button").classList.remove('active')
                }
              }
                 function functionRu(){
                  var rusLang = document.getElementsByClassName("rus_lang");
                  var enLang = document.getElementsByClassName("en_lang");
                  for (i = 0; i < enLang.length; i++) {
                    rusLang[i].style.position = "static";
                    enLang[i].style.position = "absolute";
                    enLang[i].style.top = "-9999px";
                    enLang[i].style.left = "-9999px";
                    document.getElementById("ru_button").classList.add('active');
                    document.getElementById("en_button").classList.remove('active')
          }
      }


            </script>
        </div>
        <div class="main__item">
            <div class="main__img">
                <img src="{{ image_link }}" alt="{{ game_name }}">
            </div>

            <div class="main__text">
                <h1 class="main__title">{{ game_name }}</h1>
                <p class="main__subtitle rus_lang">Это FAQ для пользователей, изучите его прежде чем обращаться в поддержку, если у вас возникли проблеммы:</p>
                <p class="main__subtitle en_lang">This is a user FAQ, please check it before contacting support if you have any problems:</p>
                <ul class="main__list">
                    <li class="rus_lang">Пункт первый</li>
                    <li class="rus_lang">Пункт второй</li>
                    <li class="rus_lang">Пункт третий</li>
                    <li class="en_lang">Point first</li>
                    <li class="en_lang">Point second</li>
                    <li class="en_lang">Point third</li>
                </ul>
                <p class="rus_lang">Спасибо за внимание!</p>
                <p class="en_lang">Thank you for the attention!</p>

                <div class="main__text_bot">
                    <p class="rus_lang">Регион аккаунта: {{ region }}</p>
                    <p class="en_lang"> Account region: {{ region }}</p>
                    <p class="rus_lang">Steam профиль: <a href="{{ user_link }}" target="_blank">Ссылка</a></p>
                    <p class="en_lang">Steam profile: <a href="{{ user_link }}" target="_blank">Link</a></p>
                    <p class="rus_lang">Уникальный код товара: {{ code }}</p>
                    <p class="en_lang">Unique product code: {{ code }}</p>
                </div>

                <div class="main__status">
                    <span><strong>Подарок успешно отправлен на ваш аккаунт</strong></span>
                </div>

                <div class="main__social">
                    <h2 class="main__social-title rus_lang">Контактные данные продавца</h2>
                    <h2 class="main__social-title en_lang">Seller contact details</h2>

                    <div class="main__social-wrapper">
                        <a class="main__social_link" href="{{skype_link}}" target="_blank">
                            <img src="{% static 'img/premium-icon-skype-3128338.png' %}" alt="">
                            <p>Open</p>
                        </a>
                        <a class="main__social_link" href="{{shop_link}}" target="_blank">
                            <img src="{% static 'img/free-icon-pay-per-click-637922.png' %}" alt="">
                            <p>Open</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
     <script>

let data = {
	sell_code: "{{ code }}"
}

function sleep(time) {
	return new Promise((resolve) => setTimeout(resolve, time));
}

function getAccount() {
	$.ajax({
			method: "GET",
			dataType: "json",
			data: data,
			url: {% url "load_status" %},
			success: function(data) {
				console.log(data["data"]["status"]);
				status = data["data"]["status"];
				if (status !== null) {
					if (status == 'Accept Request') {
						$('.main__status').html(
							"<span class='rus_lang'><strong>{{ accept_request_ru }}</strong></span><span class='en_lang'><strong>{{ accept_request_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Gift Sent') {
						$('.main__status').html(
							"<span class='rus_lang'><strong>{{ gift_sent_ru }}</strong></span><span class='en_lang'><strong>{{ gift_sent_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Gift Received') {
						$('.main__status').html(
							"<span class='rus_lang'><strong>{{ gift_received_ru }}</strong></span><span class='en_lang'><strong>{{ gift_received_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Gift Rejected') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ gift_rejected_ru }}</strong></span><span class='en_lang'><strong>{{ gift_rejected_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Add Friend Error') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ add_friend_error_ru }}</strong></span><span class='en_lang'><strong>{{ add_friend_error_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Send Gift Error') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ send_gift_error_ru }}</strong></span><span class='en_lang'><strong>{{ send_gift_error_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Check Error') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ check_error_ru }}</strong></span><span class='en_lang'><strong>{{ check_error_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
					} else if (status == 'Sending Gift') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ sending_gift_ru }}</strong></span><span class='en_lang'><strong>{{ sending_gift_en }}</strong></span>"
						);
						sleep(10000).then(() => {
							getAccount()
						});
                    } else if (status == 'Add to Friends') {
						$('.main__status').html(
						    "<span class='rus_lang'><strong>{{ add_to_friends_ru }}</strong></span><span class='en_lang'><strong>{{ add_to_friends_en }}</strong></span>"

						);

                        sleep(10000).then(() => {
							getAccount()
						});

					} else {
						sleep(10000).then(() => {
							getAccount()
						});
					}

				}
			}
	})}
	getAccount()

	</script>
    </section>
</body>
</html>